<?xml version="1.0" encoding="utf-8" ?>
<config>
	
	
	<!-- swf id="level0Swf" url="" / -->
	
	
	<!-- TODO: parse by game libraries factory -->
	<library id="gameLib" type="class" className="demo.libraries.GameLib" />
	
	<!-- library id="level0" type="swf" source="level0Swf"/ -->

		
	<canvas id="stageCanvas" area="0,0,640,480" pixelSnapping="always" smoothing="false" isTransparent="false" backgroundColour="0x00ff00ff" />
	
	
	<bitmap id="abuCellsBitmap" asset="gameLib.ABU" />
	
	
	<cells id="abuCells" bitmap="abuCellsBitmap">
		<cell area="5,4,44,40" offset="33,40" />
		
		<cell area="5,4,44 40" offset="33,40" />
			
		<cell area="57,2,44,41" offset="33,41" />		
			
		<cell area="106,1,43,42" offset="33,42" />
			
		<cell area="152,1,43,42" offset="33,42" />
			
		<cell area="199,1,44,42" offset="33,42" />		
	</cells>
	
	
	
	<animation id="abuIdleAnimation" cells="abuCells">
		<frame duration="1/7" cell="0" />
			
		<frame duration="1/15" cell="1" />
			
		<frame duration="1/15" cell="2" />
			
		<frame duration="1/15" cell="3" />
			
		<frame duration="1/7" cell="4" />
			
		<frame duration="1/15" cell="3" />
			
		<frame duration="1/15" cell="2" />
			
		<frame duration="1/15" cell="1" />
	</animation>
	
	
	
</config>